* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Burned', cursive;
    font-family: 'Rubik Wet Paint', cursive;
}

#welcomeMassage {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#eggss {
    letter-spacing: -20px;
    margin-left: -20px;
    position: relative;
    animation: jump 1s ease-in-out infinite;
}

@keyframes jump {
    0% {
      bottom: 0;
    }
    50% {
      bottom: 20px;
    }
    100% {
      bottom: 0;
    }
  }

#bullss {
    letter-spacing: -10px;
    margin-left: -25px;
    position: relative;
}

.wlc {
    display: inline-block;
    font-size: 90px;
    margin-bottom: 60px;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 8px;
}

h3 {
    font-size: 35px;
    text-underline-offset: 2.5px;
    text-decoration: underline;
    text-decoration-style: double;
    font-weight: 300;
    margin-top: 25px;
}

.mode {
    color: white;
    background-color: gray;
    margin: 3px;
    font-size: 20px;
    padding: 2px;
    border: none;
}

.btn {
    color: black;
    margin: 2px;
    margin-top: 5px;
    font-size: 20px;
    padding: 2px;
}

#scorebox {
    background: url(img/background.png);
    display: none;
    width: max-content;
    border-width: 8px;
    border-style: inset;
    border-radius: 20px;
    border-color: navy;
    margin-top: 30px;
}

#endscore {
    display: none;
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px 5px red, -5px 0 12px skyblue, -3px 0 8px gold, 2px 0 4px black;
    margin: 3px auto;
    margin-right: 1px;
    padding: 6px;
}

#highscore {
    display: none;
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px 5px blue, 0 -3px 15px red, 0 5px 8px greenyellow;
    margin: 3px auto;
    margin-left: 1px;
    padding: 6px;
}
#fence {
    font-size: 45px;
    color: black;
    text-shadow: 0 0 1px white ,-2.5px 0 5px rgb(83, 83, 247), 2.5px 0px 5px red, 0 0 10px gold, 0 0 2px white;
    margin: 3px auto;
    padding: 2px;
}

.hell {
    background: url(img/hell.jpg);
    border-color: red;
}
.heaven {
    background: url(img/heaven.jpg);
    border-color: skyblue;
}

.active, .btn:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
    font-size: 30px;
}

.activeM, .mode:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    font-size: 30px;
    border-width: 3px;
    border-style: outset;
    border-color: gold;
    border-radius: 15px;
    padding: 4px;
}


#startBtn {
    font-size: 50px;
    border: none;
    font-weight: 500;
    background-color: inherit;
    margin-top: 60px;
    transition: ease-in-out, transform 0.5s;
}

#startBtn:hover {
    font-weight: 300;
    cursor: pointer;
    color: skyblue;
    text-shadow: 2px 2px 4px brown, 0 0 8px black, 0 0 15px gold;
    transform: scale(1.2);
}

.display {
    display: none;
}

#canvas1 {
    background: url(img/background.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#obstacles, #bull, #egg, #toad, #toads, #larva{
    display: none;
}
