* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Burned', cursive;
    font-family: 'Rubik Wet Paint', cursive;
}

#canvas1 {
    background: url(img/background.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#obstacles, #bull, #egg, #toad, #toads, #larva{
    display: none;
}
