* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Burned', cursive;
    font-family: 'Rubik Wet Paint', cursive;
}

#welcomeMassage {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wlc {
    display: inline-block;
    font-size: 90px;
    margin-bottom: 60px;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 8px;
}

h3 {
    font-size: 35px;
    text-underline-offset: 2.5px;
    text-decoration: underline;
    text-decoration-style: double;
    font-weight: 300;
    margin-top: 25px;
}

.mode {
    color: white;
    background-color: gray;
    margin: 3px;
    font-size: 20px;
    padding: 2px;
    border: none;
}

.btn {
    margin: 2px;
    margin-top: 1px;
    font-size: 20px;
    padding: 2px;
}

#highscore {
    display: none;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgb(248, 148, 25);
    margin-top: 25px;
}

.active, .btn:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
    font-size: 30px;
}

.activeM, .mode:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    font-size: 30px;
    border-style: solid;
}


#startBtn {
    font-size: 40px;
    border: none;
    font-weight: 300;
    background-color: inherit;
    margin-top: 50px;
    transition: ease-in-out, transform 0.5s;
}

#startBtn:hover {
    /* font-size: 45px; */
    font-weight: 700;
    cursor: pointer;
    color: skyblue;
    transform: scale(1.2);
}

.display {
    display: none;
}

#canvas1 {
    background: url(img/background.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#obstacles, #bull, #egg, #toad, #toads, #larva{
    display: none;
}
